$mainTextColor: #16828f;
$subTextColor: #525252;
$arrowColor:  rgb(133, 226, 236);
$priceColor: #a11a79;

$arrowBg: rgba(255, 255, 255, 0.813);
$mainBg: #FFFFFF00;
$btnBg: #008cba;


$white: white;
$arrowBorder: rgb(133, 226, 236);
$shadow-yellow: -0.2rem 0.2rem 0 0 #d9e15f;
